//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "node_modules/bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
// $enable-shadows: true;
$enable-important-utilities: true;
$enable-negative-margins: true;

// Customize some defaults

@import "node_modules/bootstrap/scss/functions";
@import "colors";

$font-size-root: 16px;

$body-bg: #f3f2ef;
$body-color: $gray-900;

$border-radius:               .5rem;
$border-radius-sm:            .375rem;
$border-radius-lg:            .625rem;
$border-radius-pill:          50rem;

$display-font-sizes: (
        1: 4rem,
        2: 3.5rem,
        3: 3rem,
        4: 2.5rem,
        5: 2rem,
        6: 1.5rem
);



$link-color: $primary;
$link-hover-color: shift-color($link-color, 40%);
$link-decoration: none;

$caret-width: .25rem;

//navbar
$navbar-padding-y: 0;
$navbar-brand-padding-y: 0;
$navbar-nav-link-padding-x: 1rem;

$navbar-dark-color: rgba($white, .75);
$navbar-dark-hover-color: rgba($white, .95);
$navbar-dark-toggler-border-color: none;

$navbar-light-color:                rgba($black, .85);
$navbar-light-hover-color:          rgba($black, .9);
$navbar-light-active-color:         rgba($black, .9);

$navbar-light-brand-color: $indigo-600;
$navbar-light-brand-hover-color: $indigo-700;

$navbar-light-toggler-border-color: none;
$navbar-toggler-focus-width: 0;
$navbar-toggler-padding-y: 1rem;

$input-btn-focus-width:         1px;
$input-btn-focus-color-opacity: .6;

$form-label-margin-bottom:              .25rem;
$form-label-font-size:                  0.875em;
$form-label-font-style:                 null;
$form-label-font-weight:                500;
$form-label-color:                      null;
$input-bg: $white;

$dropdown-padding-y: 0.5rem;
$dropdown-padding-x: 0.5rem;
$dropdown-border-radius: $border-radius;
$dropdown-item-padding-y: 0.5rem;
$dropdown-link-hover-bg: $gray-200;
$dropdown-link-active-bg: $gray-400;
$dropdown-link-active-color: $body-color;

//modal
$modal-backdrop-opacity: 0.5;
$modal-header-padding: 0.625rem 1rem;
$modal-fade-transform: scale(.8);

//close button
$btn-close-focus-shadow: none;
$btn-close-focus-opacity: 0.85;

//nav tbas
$nav-link-padding-y: 0.75rem;
$nav-tabs-link-hover-border-color: shade-color($light, 10%);
$nav-tabs-link-active-bg: shade-color($light, 10%);
$nav-tabs-link-active-color: $gray-900;

//tooltip
$tooltip-opacity: 1;
$tooltip-bg: rgba(60,64,67,.9);
$tooltip-arrow-color: $tooltip-bg;
$tooltip-border-radius:             $border-radius*.5;

//Buttons
//$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


// Required
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";

@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar"; // Requires nav
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/accordion";
@import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal"; // Requires transitions
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
//@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/offcanvas"; // Requires transitions
@import "node_modules/bootstrap/scss/placeholders";

// Helpers
@import "node_modules/bootstrap/scss/helpers";

// Utilities
@import "node_modules/bootstrap/scss/utilities/api";


//
// Custom styles
//html font size in small devices
@include media-breakpoint-down(md){
  html{
    font-size: 15px !important;
  }
}

@include media-breakpoint-down(sm){
  html{
    font-size: 14px !important;
  }
}


//$navbar-otm-bg: $gray-200;
$navbar-otm-bg: shift-color(#eaf1fb, 3%);
.navbar-otm{
  background-color: transparent;
  --bs-navbar-brand-font-size: 1.7rem;
  //--bs-navbar-nav-link-padding-x: 1rem;

  //background-image: linear-gradient(to bottom, rgba($navbar-otm-bg, 1), rgba($navbar-otm-bg, 0.9));

  --bs-navbar-padding-y: 0;

  .navbar-nav{

    --bs-nav-link-font-weight: 500;
    --bs-nav-link-padding-y: 1rem;

    @include media-breakpoint-down(lg){
      --bs-nav-link-padding-x: 1rem;
    }

    .nav-link{

      &:hover{
        background-color: shift-color($navbar-otm-bg, -40%);
      }
      &.active, &.show {
        background-color: $navbar-otm-bg;
      }
    }

    .dropdown-menu{
      //background-color: $navbar-otm-bg;
      border-color: shade-color($navbar-otm-bg, 5%);

    }
  }
}

#navbar-otm-offcanvas{
  background-color: $navbar-otm-bg;
}

.nav-breadcrumb-otm{
  background-color: $navbar-otm-bg;
}


/*a{
  font-weight: 500;
  &:hover{
    text-decoration: underline;
  }
}*/


.dropdown-toggle-no-caret:after{
  display: none;
}

.dropdown-toggle.no-caret:after{
  display: none;
}

.dropdown-item{
  border-radius: var(--bs-border-radius);
}

a.dropdown-toggle.show {
  color: $link-hover-color;
}

.alert-sm {
  --bs-alert-padding-y: .5rem;
}

.btn-close-sm {
  height: 0 !important;
}


//reduced buttons
@each $color1, $value in $theme-colors {
  $background: transparent;
  $border: tint-color($value, 10%);
  $color: $value;
  $hover-background: tint-color($value,90%);
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount));
  $hover-color: shade-color($value, 10%);
  $active-background: tint-color($value, 80%);
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount));
  $active-color: shade-color($value, 15%);
  $disabled-background: $background;
  $disabled-border: $border;
  $disabled-color: tint-color($value, 10%);

  .btn-reduced-#{$color1} {
    --#{$prefix}btn-font-weight: 500;
    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-bg: #{$background};
    --#{$prefix}btn-border-color: #{$border};
    --#{$prefix}btn-hover-color: #{$hover-color};
    --#{$prefix}btn-hover-bg: #{$hover-background};
    --#{$prefix}btn-hover-border-color: #{$hover-border};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
    --#{$prefix}btn-active-color: #{$active-color};
    --#{$prefix}btn-active-bg: #{$active-background};
    --#{$prefix}btn-active-border-color: #{$active-border};
    --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
    --#{$prefix}btn-disabled-color: #{$disabled-color};
    --#{$prefix}btn-disabled-bg: #{$disabled-background};
    --#{$prefix}btn-disabled-border-color: #{$disabled-border};
  }
}

//flat buttons
@each $color1, $value in $theme-colors {
  $background: transparent;
  $border: transparent;
  $color: $value;
  $hover-background: tint-color($value,90%);
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount));
  $hover-color: shade-color($value, 10%);
  $active-background: tint-color($value, 80%);
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount));
  $active-color: shade-color($value, 15%);
  $disabled-background: $background;
  $disabled-border: $border;
  $disabled-color: tint-color($value, 10%);

  .btn-flat-#{$color1} {
    --#{$prefix}btn-font-weight: 500;
    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-bg: #{$background};
    --#{$prefix}btn-border-color: #{$border};
    --#{$prefix}btn-hover-color: #{$hover-color};
    --#{$prefix}btn-hover-bg: #{$hover-background};
    --#{$prefix}btn-hover-border-color: #{$hover-border};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
    --#{$prefix}btn-active-color: #{$active-color};
    --#{$prefix}btn-active-bg: #{$active-background};
    --#{$prefix}btn-active-border-color: #{$active-border};
    --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
    --#{$prefix}btn-disabled-color: #{$disabled-color};
    --#{$prefix}btn-disabled-bg: #{$disabled-background};
    --#{$prefix}btn-disabled-border-color: #{$disabled-border};
  }
}


//icon buttons
.btn-icon{
  @extend .btn;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0!important;
  position: relative;
  z-index: 0;
  width: 2.375rem;
  height: 2.375rem;
}

.btn-icon-sm{
  @extend .btn-icon;
  width: 1.9375rem !important;
  height: 1.9375rem !important;
}

@each $color1, $value in $theme-colors {

  $background: transparent;
  $border: transparent;
  $color: $value;
  $hover-background: tint-color($value,80%);
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount));
  $hover-color: shade-color($value, 15%);
  $active-background: tint-color($value, 70%);
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount));
  $active-color: shade-color($value, 17%);
  $disabled-background: $background;
  $disabled-border: $border;
  $disabled-color: tint-color($value, 10%);

  .btn-icon-#{$color1} {

    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-bg: #{$background};
    --#{$prefix}btn-border-color: #{$border};
    --#{$prefix}btn-hover-color: #{$hover-color};
    --#{$prefix}btn-hover-bg: #{$hover-background};
    --#{$prefix}btn-hover-border-color: #{$hover-border};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
    --#{$prefix}btn-active-color: #{$active-color};
    --#{$prefix}btn-active-bg: #{$active-background};
    --#{$prefix}btn-active-border-color: #{$active-border};
    --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
    --#{$prefix}btn-disabled-color: #{$disabled-color};
    --#{$prefix}btn-disabled-bg: #{$disabled-background};
    --#{$prefix}btn-disabled-border-color: #{$disabled-border};

  }
}

.page-title{
  color: $danger;
  font-size: 1.5rem;
  padding-top: .5rem;
  margin-bottom: 1.5rem;
}

.page-subtitle {
  color: $gray-800;
  font-size: 1.2rem;
}

//toasts
.alert-toast {
  padding: 0.5rem 3rem 0.5rem 0.5rem !important;

  .btn-close {
    padding: 0.825rem;
  }
}

.alert-toast-success {
  background-color: shade-color($teal-600, 5%);
  color: tint-color($teal, 95%);

}

$alert-toast-danger-bg:shade-color($red,15%);
.alert-toast-danger {
  background-color: $alert-toast-danger-bg;
  color: $white;
}

//utilities
.dn {
  display: none;
}

//shadow hover
.shadow-hover {
  &:hover {
    @extend .shadow;
  }
}

.shadow-sm-hover {
  &:hover {
    @extend .shadow-sm;
  }
}

//tables
.table-td-middle {
  tbody{
    th, td {
      vertical-align: middle;
    }
  }
}

//border hovers
@each $color, $value in $theme-colors {
  .border-hover-#{$color} {
    &:hover {
      border-color: $value !important;
    }
  }
}

@each $color, $value in $theme-colors {
  .table-hover-#{$color} {
    &:hover {
      background-color: tint-color($value, 80%) !important;
    }
  }
}

//scroll
.overflow-auto{
  @extend .overflow-auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c0c0c1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background: #888888;
  }
  &::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.table-td-middle {
  tbody{
    th, td {
      vertical-align: middle;
    }
  }
}

//font size medium and small
.fs-medium, .medium {
  font-size: 0.875rem !important;
}

small, .small {
  font-size: 0.75rem !important;
}

//print
@media print {
  body{
    background-color: $white !important;
  }

  #otm-page-wrap{
    box-shadow: none !important;
  }
}

//tooltip
.tooltip .tooltip-arrow{
  display: none !important;
}

//Font Awesome
$fa-font-path: "../fonts";
$fa-font-size-base: 1rem;
$fa-fw-width: calc(20em / 16);
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
//@import "node_modules/@fortawesome/fontawesome-free/scss/brands";